.header {
  text-align: justify;
  letter-spacing: 1px;
  height: 5em;
  background: #2c3e50;
  color: #fff;
  width: 100%;
  padding: 30px;
  position: relative;
}

.header::after {
  content: "";
  display: inline-block;
  width: 100%;
}

.header a {
  font-size: 30px;
  color: antiquewhite;
  text-decoration: none;
}

.header a:hover {
  opacity: 0.7;
}

.small_img {
  max-width: 50px;
  max-height: 150px;
}

li {
  list-style-type: none;
}

.navbar {
  margin: 0px;
  padding: 0px;
  position: absolute;
  bottom: 0px;
}

.nav_item {
  display: inline-block;
  margin: 10px;
}

.logo {
  font-size: 50px;
  display: block;
  padding-right: 50px;
}

.flag_chose {
  width: 95%;
  margin-left: 30px;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
}

.flag_chose a {
  text-decoration: none;
  color: black;
}

.flag_chose_item {
  margin: 20px;
  width: 100px;
}

.about {
  margin: 90px;
  width: 50%;
}

.about h2 {
  font-size: 40px;
}

.about_text {
  font-size: 25px;
  margin: 5px;
}

.white_block {
  background-color: rgb(241, 234, 132);
  border-radius: 10px;
  padding: 20px;
}

.card_table {
  margin: 70px;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap-reverse;
}

.card {
  width: 400px;
  height: 400px;
  background-color: rgb(241, 234, 132);
  font-size: 50px;
  text-align: center;
  border-radius: 30px;
}

@media screen and (max-width: 600px) {
  .header {
    height: auto;
    width: 100%;
    display: inline-block;
    text-align: center;
    margin: 0%;
  }

  .navbar {
    position: relative;
  }

  .nav_item_center {
    width: 100%;
  }

  .logo {
    width: 100%;
    padding: 0%;
  }
}
